@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0
}

a {
    text-decoration: none;
}

p,
a,
ul {
    font-size: 18px;
}

.container {
    max-width: 100%;
    padding: 0 60px
}

.mobile {
    display: none !important;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header,
footer,
section {
    float: left;
    width: 100%;
}

.header {
    position: relative;
}

.header:before {
    /* content: '';
    position: absolute;
    height: 5px;
    background: #126085;
    display: block;
    width: 65%;
    top: 0; */
}

.header_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding: 20px 0;
}

.logo img {
    width: 100%;
    max-width: 180px
}

.header_right a.visual_world {
    font-size: 20px;
    color: #126085;
    font-weight: bold;
    margin-right: 50px;
}

.header_right a.menu_icon img {
    width: 50px;
}

.footer {
    background: url(../img/footer_bg_1.jpg);
    background-size: cover;
}

.footer_div {
    position: relative;
    max-width: 95%;
    margin: auto;
    padding-top: 80px;
}

.footer_logo img {
    width: 200px;
}

.footer_content p {
    color: #fff;
    max-width: 500px;
}

.footer_social p {
    color: #fff;
}

.footer_social ul {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.footer_social ul li a img {
    width: 40px;
}

.copy_right {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 30px 0;
    border-top: 1px solid;
}

.top_icon img {
    width: 70px;
    position: absolute;
    right: 0;
    top: -35px;
    box-shadow: 0 4px 8px 0 rgba(35, 0, 0, 0.5);
    border-radius: 50px;
}

.copy_right p a {
    text-decoration: underline;
    color: #fff
}

.banner {
    position: relative;
    background: #f4f4f4
}

.banner .row {
    margin: 0
}

.banner_left {
    background: url(../img/banner_left_bg.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    padding: 100px 0;
}

.banner_left img {
    width: 90%;
}

.banner .col-xs-12.col-sm-12.col-md-6.col-lg-6 {
    padding: 0
}

.banner_right {
    position: relative;
    height: 100%;
    width: 90%;
    float: right;
}

.banner_arr_down {
    position: absolute;
    bottom: 0;
    width: 12%;
    left: 0;
}

.banner_arr_right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
}

.banner_right_content {
    position: absolute;
    top: 25%;
}

.banner_right_content h2 {
    font-size: 42px;
    font-weight: bold;
}

.bg_title {
    background: linear-gradient(90deg, rgba(18, 96, 133, 1) 0%, rgba(27, 112, 125, 1) 100%);
    color: #fff;
    width: auto;
    padding: 10px 20px;
    float: left;
    font-weight: 600;
}

.slider {
    padding: 30px;
    position: relative;
}

.owl-dots {
    display: none;
}

.slider .owl-nav {
    position: absolute;
    bottom: 40px;
    right: 40px;
    gap: 10px;
    display: flex;
}

.slider .owl-carousel .owl-nav button.owl-next,
.slider .owl-carousel .owl-nav button.owl-prev,
.slider .owl-carousel button.owl-dot {
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    line-height: 0;
}

.leadership {
    padding: 0 30px;
    margin-bottom: 70px;
}

.leadership_left {
    width: 90%;
}

.leadership img {
    width: 100%;
}

.leadership_profile {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.leadership_profile_box {
    width: 50%;
    position: relative;
}

.leadership_profile_content {
    background: linear-gradient(90deg, rgba(18, 96, 133, 1) 0%, rgba(27, 112, 125, 1) 100%);
    margin-top: -55px;
    padding: 20px;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: -40px;
    height: 120px;
}

.leadership_profile_content h3 {
    font-size: 22px;
}

.leadership_right h2 {
    margin-bottom: 30px;
    font-size: 28px;
}

.leadership_right {
    max-width: 90%;
    margin-top: 50px;
    float: left;
}

.leadership_right p {
    line-height: 32px;
    float: left;
    margin-bottom: 32px;
    width: 100%;
    font-weight: 600;
}

.leadership_right ul {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.leadership_right ul li {
    display: flex;
    margin-bottom: 18px;
    font-weight: 600;
}

.leadership_right ul li img {
    width: 35px;
    height: 25px;
    margin-right: 20px;
}

.leadership_right a {
    background: linear-gradient(90deg, rgba(18, 96, 133, 1) 0%, rgba(27, 112, 125, 1) 100%);
    color: #fff;
    width: auto;
    padding: 16px 60px;
    float: left;
    font-weight: 600;
    border-radius: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.moretext {
    /* display: none; */
    height: 75px;
    overflow: hidden;
}

.moretext::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #ffffff00, #ffffff 89%);
    left: 0;
    z-index: 100000;
    /* top: 0; */
}

/*  */

.incest_criops.left_cripss {
    overflow: hidden;
    min-height: 75px;
    float: left;
}

.incest_criops .crips_box {
    position: relative;
    float: left;
}

.incest_criops .crips_box:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #ffffff00, #ffffff 89%);
    left: 0;
    z-index: 99;
    top: 0;
}

.incest_criops .crips_box.noafter:after {
    content: unset;
}

.columnHide {
    display: none;
}

.abouts_sec {
    padding: 0 30px;
    margin-bottom: 70px;
}

.side_center {}

.left_abouts {
    background-image: url(../img/abouts_bg.jpg);
    padding: 120px 150px 120px 60px;
    position: relative;
}

.left_abouts h2 {
    margin-bottom: 45px;
    background: rgba(255, 255, 255, .09);
    color: #fff;
    padding: 10px 20px;
    width: fit-content;
    font-weight: 600;
}

.left_abouts p {
    color: #fff;
    line-height: 32px;
    z-index: 9;
    position: relative;
}

.left_abouts img {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 32%;
}


.archieves_secss {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
    width: 75%;
    margin: auto;
}

.archieves_secss img {
    width: 100%;
}

.archieves_secss div {}

.side_center .row {
    align-items: center;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
}

.side_center .row .col-xs-12 {
    padding: 0;
}

.message_nav {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
}

.message_nav img {
    width: 50%;
    margin-top: 50px;
}

.message_rels {
    position: relative;
}

.csc_impact {
    padding: 0 75px;
    margin-bottom: 50px;
    float: left;
    width: 100%;
}

.csc_impact_title h2 {
    margin-bottom: 45px;
    background: #71b417;
    color: #fff;
    padding: 15px 30px;
    width: fit-content;
    font-weight: 600;
    font-size: 28px;
}

.ctc_icon_title {
    display: flex;
    gap: 18px;
    align-items: center;
}

.ctc_icon_title img {
    width: 48px;
}

.ctc_icon_title h4 {
    color: #000;
    width: fit-content;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 24px;
}

.csc_left_side_dls {
    width: 90%;
}

.csc_impact_title p {
    font-weight: 500;
    margin-top: 22px;
}

.take_virals {
    background-color: #f9f9f9;
    padding: 30px;
    margin-bottom: 25px;
}

.take_virals .row {
    /* background-color: #f9f9f9; */
}

.take_virals_para {
    border-left: 5px solid #71b417;
}

.take_virals_para p {
    padding: 0 30px;
    color: #000;
    width: fit-content;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 20px;
}

.take_virals_para p a {
    text-decoration: underline;
    color: #71b417;
    background: unset;
    padding: 0;
}

.csc_impact_title {
    margin-bottom: 50px;
}

.preschols img {
    width: 100%;
}

.takes_preschools .take_virals {
    padding: 0;
    /* padding-left: 30px; */
}

.takes_preschools .take_virals_para {
    display: flex;
    align-items: flex-start;
}

.takes_dlss h4 {
    padding: 0;
    color: #000;
    width: fit-content;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 24px;
    margin-bottom: 16px;
}

.takes_dlss p {
    padding: 0;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 16px;
}

.takes_dlss {
    padding: 30px;
    position: relative;
}

.takes_preschools .take_virals_para {
    border: none;
}

.takes_dlss_bdr {
    border-left: 5px solid #71b417;
    padding-left: 30px;
    display: grid;
}

.takes_dlss_bdr a {
    background: #71b417;
    color: #fff;
    width: fit-content;
    padding: 12px 48px;
    font-weight: 600;
    border-radius: 50px;
}

.pre_navss {
    position: absolute;
    right: 0;
    bottom: 15px;
    text-align: end;
}

.pre_navss img {
    width: 60%;
}

.nub_titles h2 {
    color: #000;
    width: fit-content;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 24px;
    text-transform: uppercase;
}

.nub_titles h2::after {
    content: " ";
    border-bottom: 4px solid #71b417;
    width: 25%;
    display: block;
    padding-top: 10px;
}

.nubs_secs {
    background: #f7f7f7;
    padding: 20px;
}

.nubs_secs_title {
    border-left: 5px solid #71b417;
}

.nubs_secs_title h4 {
    font-size: 68px;
    padding-left: 25px;
    color: #71b417;
    font-weight: 500;
}

.nubs_secs_title span {
    font-size: 68px;
    padding-left: 0;
    color: #71b417;
    font-weight: 500;
}

.nub_pertagess {
    display: flex;
    align-items: center;
}

.nubs_secs_title p {
    font-size: 18px;
    padding-left: 25px;
    font-weight: 600;
    line-height: 21px;
    z-index: 99999999999;
    position: relative;
}

.nub_rights_wrap {
    width: 75%;
    margin-left: auto;
}

.nub_titles {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.nubs_navs {
    position: absolute;
    top: 16%;
    right: 0;
    text-align: end;
    margin: auto;
}

.nubs_navs img {
    width: 46%;
}

.nubs_secs {
    position: relative;
}

.msg_greens {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.msg_greens img {
    height: 100%;
}


.green_stics {
    position: relative;
}

.csc_impact_two {
    float: left;
    width: 100%;
    background-color: #f9f9f9;
    padding: 50px 75px;
    margin-bottom: 70px;
}

.csc_sliders .slider .owl-nav {
    justify-content: center;
    width: 100%;
    right: 0;
    bottom: 20px;
}

.csc_sliders {
    width: 75%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.csc_sliders h2 {
    color: #000;
    width: fit-content;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 24px;
    text-transform: uppercase;
}

.csc_sliders h2::after {
    content: " ";
    border-bottom: 4px solid #126085;
    width: 25%;
    display: block;
    padding-top: 10px;
}

.csc_sliders .nubs_secs_title h4,
.green_span {
    color: #126085 !important;
}

.csc_sliders .nubs_secs_title {
    border-left: 5px solid #126085;
}

.csc_sliders .nubs_secs {
    background: #efefef;
    min-height: 210px;
}

.new_store_bg {
    float: left;
    width: 100%;
    background-color: rgba(223, 223, 223, 0.35);
    padding: 20px;
}

.new_store_bg_wrap {
    display: flex;
    gap: 25px;
}

.new_storr_ig img {
    width: 50px;
}

.new_storr_dls p {
    margin-bottom: 0;
    font-weight: 600;
    margin-top: 0;
    font-size: 22px;
}

.new_storr_dls p a {
    font-weight: 600;
    margin-top: 0;
    color: #126085;
    text-decoration: underline;
    font-size: 22px;
}

.new_storr_dls p a img {
    width: 16px;
}

.new_storr_dls span {
    margin-bottom: 0;
    font-weight: 500;
    margin-top: 0;
    font-size: 22px;
}

.impact_paras {
    float: left;
    margin: 35px 0;
}

.impact_paras p {
    margin-bottom: 0;
    font-weight: 600;
    margin-top: 0;
    font-size: 22px;
}

.whats_video {
    float: left;
    width: 100%;
    background-color: rgba(223, 223, 223, 0.35);
    /* padding: 20px; */
}

.whats_video .takes_dlss {
    padding: 0 0px 0 30px;
}

.whats_video .takes_dlss_bdr p>a {
    padding: 0;
    background-color: transparent;
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    width: 85%;
    color: #126085;
    line-height: 30px;
}

.whats_video .takes_dlss_bdr p {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    width: 85%;
    line-height: 30px;
}

.whats_video .take_virals_para {
    align-items: center;
    background-color: rgba(223, 223, 223, 0.35);
}

.whats_video .takes_dlss_bdr {
    border-left: 5px solid #126085;
}

.meet_kyles {
    float: left;
    margin-top: 40px;
}

.meet_kyles .preschols {
    /* width: 45%; */
}

.meet_kyles .takes_dlss h4 {
    margin-bottom: 0;
}

.meet_kyles .takes_dlss_bdr a {
    background: #126085;
}

.meet_kyles .takes_dlss_bdr .new_storr_dls p {
    font-weight: 500;
    font-size: 20px;
}

.meet_kyles .takes_dlss_bdr .new_store_bg_wrap {
    margin-top: 22px;
    margin-bottom: 16px
}

.meet_kyles .takes_dlss_bdr {
    border-left: 5px solid #126085;
}

.meet_kyles .take_virals .row {
    background-color: rgba(223, 223, 223, 0.35);
}

.meet_kyles .takes_dlss {
    /* padding: 0 30px; */
}

/* .meet_kyles .pre_navss img {
    width: 80%;
}

.meet_kyles .pre_navss {
    bottom: -46px;
} */

.whats_video .take_virals {
    margin: 0;
}

/* .allan_hides p {
    overflow: hidden;
    min-height: 50px;
    height: 50px;
} */

.allan_hides {
    position: relative;
    float: left;
}

.allan_hides::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #ffffff00, #ffffff 89%);
    left: 0;
    z-index: 100000;
    /* top: 0; */
}

.meet_john .take_virals {
    background-color: transparent;
}

.green_urls a {
    font-weight: 600;
    margin-top: 0;
    color: #71b417;
    text-decoration: underline;
    font-size: 22px;
}

.green_urls a img {
    width: 16px;
}

a.botom_read_mores {
    background: #71b417;
    color: #fff;
    width: fit-content;
    padding: 12px 48px;
    font-weight: 600;
    border-radius: 50px;
    float: none;
    text-align: center;
    margin: auto;
    display: table;
    margin: auto;
}

.sixth_sec {
    margin-top: 80px;
    padding: 0 75px;
    position: relative;
}

.looking_correct_title h2 {
    margin-bottom: 45px;
    background: #e06426;
    color: #fff;
    padding: 15px 30px;
    width: fit-content;
    font-weight: 600;
    font-size: 28px;
}

.looks_towards {}

.left_looks_ig {
    position: absolute;
    right: 0;
    text-align: end;
    top: 15%;
}

.looking_correct_title h2 {
    margin-bottom: 45px;
    background: #e06426;
    color: #fff;
    padding: 15px 30px;
    width: fit-content;
    font-weight: 600;
}

.looking_correct_title {
    /* margin-left: 140px; */
}


.looking_correct_title .slider {
    padding: 0;
}

.features_wraps {
    /* background-color: rgba(236, 236, 236, 0.6); */
    background-color: #fff;
}

.features_wraps .row {
    align-items: center;
}

.features_wraps .col-md-8 {
    width: 55%;
}

.leftside_fea p {
    font-weight: 600;
    /* margin-top: 22px; */
    font-size: 22px;
    line-height: 36px;
}

.leftside_fea p b {
    color: #e06426;
    font-weight: 700;
    font-size: 24px;
}

.lokking_flex_navs {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 70px;
}

/* .leftside_fea {
    padding: 0px 140px;
} */

.leftside_fea {
    padding: 0px 0 0 45px;
    width: 100%;
}

.features_wraps_2 .leftside_fea {
    padding: 0px 45px 0 0;
    /* width: 90%; */
}

.sixth_sec .slider .owl-nav {
    justify-content: center;
    width: 100%;
    right: 0;
    bottom: -60px;
}

.left_looks_ig img {
    width: 45%;
}

.leftside_fea a img {
    width: 16px !important;
    display: inline !important;
}

.leftside_fea a {
    font-weight: 600;
    margin-top: 22px;
    font-size: 22px;
    line-height: 36px;
    color: #e06426;
}

.looking_org_arrs {
    position: absolute;
    top: 0;
    right: 0;
    text-align: end;
}

.looking_org_arrs img {
    width: 55%;
}

.donor_volun {
    margin-top: 120px;
    background: #f5f5f5;
    padding: 50px 50px 100px;
}

.left_side_ig img {
    width: 100%;
}

.right_side_dls h2 {
    margin-bottom: 45px;
    background: #227f77;
    color: #fff;
    padding: 15px 30px;
    width: fit-content;
    font-size: 28px;
    font-weight: 600;
}

.right_side_dls p {
    font-weight: 600;
    margin-top: 0;
    font-size: 22px;
    margin-bottom: 45px;
}

.quotes_donors {
    display: flex;
    gap: 20px;
}

.quotes_donors img {
    width: 55px;
    height: fit-content;
}

.quotes_donors b {
    font-size: 22px;
    font-weight: 700;
}

.quotes_donors b p {
    margin-bottom: 0;
}

.right_side_dls {
    width: 90%;
    margin-left: auto;
}

.donor_wrap {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.pdf_img img {
    width: 65px;
}

.pdf_img a {
    font-size: 22px;
    font-weight: 700;
    color: #227f77;
    text-decoration: underline;
}

.pdf_img {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 45px;
}

.right_side_dls h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 31px;
    margin-bottom: 45px;
}

.foresty_ul li {
    font-weight: 600;
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 28px;
}

.foresty_ul li span {
    color: #227f77;
    font-weight: 700;
    font-size: 26px;
}

.foresty_ul ul {
    border-left: 5px solid #227f77;
    padding: revert;
    margin-bottom: 45px;
}

.quote_twoas b p {
    display: inline;
}

.donor_nav5 {
    text-align: center;
}

.donor_nav5 img {
    width: 11%;
}

.board_trusted {
    background-image: url(../img/board_bg.jpg);
    padding: 50px 75px 100px;
    /* margin-bottom: 70px; */
    position: relative;
}

.board_trusted_title h2 {
    margin-bottom: 30px;
    background: rgba(255, 255, 255, .09);
    color: #fff;
    padding: 10px 20px;
    width: fit-content;
    font-weight: 600;
    font-size: 28px;
}

.board_cols h4 {
    margin-bottom: 18px;
    color: #fff;
    width: fit-content;
    font-weight: 600;
}

.board_cols li a {
    color: #fff;
    font-size: 18px;
    margin-bottom: 6px;
    display: block;
}

.board_trusted_title .row {
    justify-content: space-between;
    z-index: 9;
    position: relative;
}

.board_boost {
    position: absolute;
    right: 0;
    top: 0;
    text-align: end;
}

.board_boost img {
    width: 70%;
}

.board_4_cols h4 {
    opacity: 0;
}

.rightside_staff img {
    width: 100%;
}

.leadership_staaf .row {
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    background: #eaeaea;
}

.leadership_staaf .row .col-md-6 {
    padding: 0;
}

.leftside_staff h2 {
    margin-bottom: 45px;
    background: #146483;
    color: #fff;
    padding: 15px 30px;
    width: fit-content;
    font-weight: 600;
    font-size: 26px;
}

.leftside_staff ul li {
    font-weight: 600;
    margin-top: 0;
    font-size: 22px;
}

.leftside_staff ul li span {
    color: #146483;
}

.leadership_staaf {
    position: relative;
    margin-bottom: 80px;
}

.leftside_staff {
    width: 70%;
    margin: auto;
}

.recip_bavs {
    position: absolute;
    right: 195px;
}

.recip_bavs img {
    width: 60%;
}

.financial_reports_title h2 {
    margin-bottom: 45px;
    background: #146483;
    color: #fff;
    padding: 15px 30px;
    width: fit-content;
    font-weight: 600;
    font-size: 26px;
}

.financial_reports .leadership_staaf .row {
    background-color: transparent;
    align-items: flex-start;
}

.balance_shhets {
    margin-top: 70px;
}

.balance_shhets h4 {
    color: #146483;
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: 700;
}

.assets_list ul li {
    display: flex;
    justify-content: space-between;
    color: #3c3c3c;
}

.assets_list h6 {
    color: #146483;
    margin-bottom: 7px;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid #146483;
    padding-bottom: 4px;
}

.assets_list ul li span {
    color: #3c3c3c;
}

.property span {
    border-bottom: 1px solid #3c3c3c;
}

.total_ass p {
    font-weight: 700;
}

.assets_list {
    margin-bottom: 15px;
}

.total_assetss p {
    font-weight: 700;
    font-size: 20px;
}

.total_assetss span {
    font-weight: 700;
}

.total_assetss {
    margin-top: 12px !important;
}

.rightside_opers h2 {
    opacity: 0;
}

.support_prices {
    display: flex;
    gap: 24px;
}

.last_pro p {
    opacity: 0;
}

.support_prices span:last-child {
    width: 50px;
    text-align: end;
}

.surplus_prices {
    margin-top: 30px !important;
}

.surplus_prices .support_prices span:last-child {
    opacity: 0;
}

.revenue_secs {
    position: relative;
    background: rgba(243, 243, 243, .75);
    padding: 25px;
    width: 85%;
    margin: 80px auto auto;
    border-radius: 35px;
}

.revenue_ig img {
    width: 100%;
}

.rightside_revenues h4 {
    color: #146483;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0;
}

.rightside_revenues p {
    color: #3c3c3c;
    font-size: 24px;
    font-weight: 700;
}

.rightside_revenues {
    width: 80%;
    margin: auto;
}

.propertys_sec {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    gap: 25px;
    margin-top: 20px;
}

.color_depnds img {
    width: 30px;
}

.color_depnds {
    display: flex;
    gap: 15px;
    align-items: center;
}

.color_depnds span {
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 600;
}

.top_navs_reven {
    position: absolute;
    right: -70px;
    top: -30px;
    text-align: end;
}

.top_navs_reven img {
    width: 70%;
}

.expences_sec .row {
    flex-direction: row-reverse;
}

/* video css */

#video-popup-container {
    display: none;
    position: fixed;
    z-index: 996;
    width: 60%;
    left: 50%;
    margin-left: -30%;
    top: 20%;
    background-color: #fff;
}

#video-popup-close {
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -50px;
    z-index: 998;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 34px;
    background-color: transparent;
    line-height: 25px;
    color: #fff;
    font-weight: 400;
}

#video-popup-iframe-container {
    position: absolute;
    z-index: 997;
    width: 100%;
    padding-bottom: 56.25%;
    border: 2px solid #000;
    border-radius: 2px;
    background-color: #000;
}

#video-popup-iframe {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
}

#video-popup-overlay {
    display: none;
    position: fixed;
    z-index: 995;
    top: 0;
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

#video-popup-close:hover {
    color: #DE0023;
}

.fade:not(.show) {
    opacity: 1;
}

/* rightside menjus */



/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999999;
    top: 0;
    background: #fff;
    border: 1px solid lightgray;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s;
    height: fit-content;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover,
.offcanvas a:focus {
    /* color: #f1f1f1; */
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    /* position: absolute; */
    top: 0;
    right: 25px;
    font-size: 70px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

.sidenav {
    right: -3px !important;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.sidenav {
    right: 0;
}

.top_menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_menus h2 {
    font-size: 28px;
    font-weight: bold;
}

.navs_menus li a {
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    padding-left: 20px;
    line-height: 1;
}

.navs_menus ul {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.nav_wraps {
    width: 80%;
    margin: auto;
}

.nav1 a {
    border-left: 5px solid #005b85;
}

.nav2 a {
    border-left: 5px solid #4c3276;
}

.nav3 a {
    border-left: 5px solid #71b417;
}

.nav4 a {
    border-left: 5px solid #e06426;
}

.navs_menus li {}

.nav_btn a {
    background: linear-gradient(90deg, rgba(18, 96, 133, 1) 0%, rgba(27, 112, 125, 1) 100%);
    color: #fff;
    width: auto;
    padding: 10px 20px !important;
    float: left;
    border-radius: 50px;
    font-weight: 600 !important;
    font-size: 22px;
    width: 100%;
    text-align: center;
}

.con_supports {
    margin-top: 50px;
    margin-bottom: 30px;
    display: block;
    float: left;
    width: 100%;
}

.take_virals_para .col-md-2 {
    padding: 0;
}

.take_virals_para .new_store_bg_wrap {
    margin-bottom: 16px
}

.take_virals_para .new_storr_dls p {
    font-size: 20px;
    font-weight: 500;
}

.csc_mb_sli img {
    width: 100%;
}

.csc_mb_fera .leftside_fea {
    padding: 0;
}

.csc_mb_fera .leftside_fea p,
.csc_mb_fera .leftside_fea p b,
.csc_mb_fera .leftside_fea p a {
    font-size: 20px;
    line-height: 26px;
}

.csc_mb_fera .leftside_fea p {
    font-weight: 600;
    margin-top: 30px;
}

.furure_looking.mobile .csc_mb_sli {
    margin-bottom: 40px;
}

.meet_jemes .new_store_bg_wrap {
    margin-bottom: 30px;
}

.takes_dlss .meet_jemes p {
    margin-bottom: 30px;
}

.takes_dlss .meet_jemes .new_storr_dls p {
    margin-bottom: 0
}

.read_more_div.hidden {
    height: 12vh;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.fith_section_read_more_div.fith_section_hidden {
    height: 150vh;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.fith_section .bg_after:after {
    content: '';
    position: absolute;
    height: 280px;
    width: 100%;
    display: block;
    bottom: 0;
    background: linear-gradient(180deg, #ffffff00, #ffffff 89%);
}

.read_btns a {
    position: absolute;
    left: 0;
    bottom: 0;
}

.leadership_right_content.bg_after:after {
    content: '';
    position: absolute;
    height: 550px;
    width: 100%;
    display: block;
    bottom: 0;
    background: linear-gradient(180deg, #ffffff00, #ffffff 89%);
}

.message_rels.hidden {
    height: auto !important;
    overflow: unset !important;
}

.message_rels.hidden a {
    position: unset;
}

.read_more_btn {
    position: relative;
    z-index: 999
}


/* pogress bar */
.progress-container {
    /* background-color: rgba(150, 150, 150, 0.6); */
    height: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}

.progress-bar {
    background-color: #126085;
    height: 5px;
    width: 0%;
}

.rightside_fea img {
    width: 100%;
}

.support_bars {
    background: #71b417;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 9999999;
    left: 0;
    bottom: 0;
}

.support_bars a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    display: block;
    text-decoration: underline;
}

.support_bars a img {
    padding-left: 10px;
}

.close_sports a {
    font-size: 52px;
    margin-left: 50px;
    text-decoration: none;
    font-weight: 200;
    line-height: unset;
}

.green_both_bars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close_sports {
    position: absolute;
    right: 20px;
    line-height: 0;
}

/* .property.total_ass span,
.property.total_assetss span {
    border-bottom: 4px double;
}

.support_prices span  {
    border-bottom: 4px double;
} */

.double_lines {
    border-bottom: 4px double !important;
}

.youtubes_sec_wrap iframe {
    width: 100%;
    height: 720px;
}

.video_modal .modal-body {
    padding: 0 !important;
    border-radius: 0;
}

.close_buttons_sec {
    text-align: end;
    margin-bottom: 30px;
}

.close_buttons_sec .btn-close {

    background: transparent url("../img/download.svg");

    opacity: 1;

}

.modal.video_modal {
    z-index: 9999999;
}

.financial_reports .renue_charts_row .row {
    align-items: center !important;
}

.emmit_btns {
    background: transparent !important;
    text-decoration: underline;
    color: #71b417 !important;
    background: unset !important;
    padding: 0 !important;
    font-size: 24px !important;
    font-weight: 700 !important;
}

.kyalles_btns.emmit_btns {
    color: #126085 !important;
}